&gpio0 {
    extpwr_pull: extpwr_pull {
        gpio-hog;
        gpios = <15 GPIO_ACTIVE_LOW>;  // might need to swap this or the next, not sure
        output-low;
        line-name = "Disable ext power pin";
    };
};