&gpio0 {
    extpower-pull: extpower-pull {
        gpio-hog;
        gpios = <13 GPIO_ACTIVE_LOW>;  // might need to swap this or the next, not sure
        output-low;
        line-name = "Disable ext power pin";
    };
};